$primary-font: 'ArgentumSans', sans-serif;
$primary-color: #4563E6;
$secondary-color: #FFBE12;
$primary-gradient: linear-gradient(180deg, #02ADF1 -2.37%, #4562E6 124.84%, $primary-color 124.84%);

$background-color: #ffffff;
$border-color: #C4C4C4;
$text-primary: #333333;
$text-secondary: #181818;
$error-color: #dc3545;